<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boolzapp</title>

    <!-- Link - Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Link - Day.js -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <!-- Link - Fontawesome 6.1 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link - style.css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Vue.js -->
    <div id="root">

        <!-- App Wrapper -->
        <div id="app-wrapper">

            <div class="container">

                <!-- MAIN -->
                <main>
                   <!-- Sidebar  -->
                   <aside id="sidebar">
                        <!-- Sidebar - Header -->
                        <div class="sidebar-header">
                            <div class="main-settings person-item">
                                
                                <!-- User -->
                                <div class="user-item item">
                                    <img class="avatar-image" src="img/avatar_io.jpg" alt="">
                                    <span class="contact-name">Nome Utente</span>
                                </div>

                                <!-- Icons -->
                                <div class="icons">
                                    <span>
                                        <i class="fa-solid fa-circle-notch"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-message"></i>
                                    </span>
                                    <span>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </span>
                                </div>
                            </div>


                            <!-- Notify Settings -->
                            <div class="notify-settings">

                                <!-- Icon -->
                                <span class="bell-icon">
                                    <i class="fa-solid fa-bell-slash"></i>
                                </span>

                                <!-- Text -->
                                <span class="text">
                                    Ricevi notifiche di nuovi messaggi
                                    <a href="#">Attiva notifiche desktop</a>
                                </span>
                            </div>


                            <!-- Filter Contacts -->
                            <div class="filter-contacts">
                                <div>
                                    <!-- Icon -->
                                    <label class="search-icon" for="contact-search">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </label>

                                    <!-- Input -->
                                    <input 
                                        type="text" 
                                        id="contact-search" 
                                        placeholder="Cerca o inizia una nuova chat" 
                                        v-model="inputFilterContacts" 
                                        @keyup="showFilteredContacts()"
                                    >
                                </div>
                            </div>
                        </div>


                        <!-- Sidebar - Main -->
                        <div class="sidebar-main">
                            <!-- Contact -->
                            <div 
                                class="contact-item" 
                                :class="{ active: singleContact.visible }" 
                                v-for="(singleContact, IndexSingleContact) in contacts" 
                                v-if="singleContact.shownByFilter" 
                                @click="setActiveContact(IndexSingleContact)"
                            >
                                <img class="avatar-image" :src="'img/avatar'+ singleContact.avatar + '.jpg'" alt="">
                                <div class="avatar-text">
                                    <div class="contact-name">{{ singleContact.name }}</div>
                                    <div class="text-last-msg">{{ singleContact.messages[singleContact.messages.length-1].text }}</div>
                                </div>

                                <span class="date-last-msg">{{ singleContact.messages[singleContact.messages.length-1].date }}</span>
                            </div>
                        </div>
                   </aside>


                   <!-- Main Content -->
                   <div id="main-content">

                        <!-- Main Content - TOP -->
                        <div class="main-content-top person-item">
                                
                            <!-- User -->
                            <div 
                                class="main-content-item item" 
                                v-for="(singleContact, IndexSingleContact) in contacts" 
                                v-if="singleContact.visible"
                            >
                                <img class="avatar-image" :src="`img/avatar${singleContact.avatar}.jpg`" alt="">
                                <div class="text">
                                    <span class="contact-name">{{singleContact.name}}</span>
                                    <span class="last-access">{{singleContact.messages[singleContact.messages.length-1].date}}</span>
                                </div>
                            </div>

                            <!-- Icons -->
                            <div class="icons">
                                <span>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                                <span>
                                    <i class="fa-solid fa-paperclip"></i>
                                </span>
                                <span>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </span>
                            </div>
                        </div>

                        <!-- Main Content - MIDDLE -->
                        <div 
                            class="main-content-mid" 
                            v-for="(singleContact, indexSingleContact) in contacts" 
                            v-if="singleContact.visible"
                        >
                            <!-- Chat Messages -->
                            <div 
                                class="chat-msg" 
                                :class="{
                                    received: singleMsg.status === 'received', 
                                    sent: singleMsg.status === 'sent',
                                }" 
                                v-for="(singleMsg, indexSingleMsg) in singleContact.messages"
                            >
                                <div class="chat-msg-text">{{singleMsg.text}}</div>
                                <span class="chat-msg-date">{{singleMsg.date}}</span>
                                
                                <!-- Options Message -->
                                <span class="icon-arrow" @click="setClickedMessage(singleContact, singleMsg, indexSingleContact, indexSingleMsg)">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                                <div 
                                    class="chat-msg-options" 
                                    :class="{ 'show-element': showMessage }"
                                    v-if="indexSingleMsg === indexClickedMessage && indexSingleContact === indexClickedContact"
                                >
                                    <div class="info-msg">Message Info</div>
                                    <div class="delete-msg" @click="deleteClickedMessage(singleContact, indexClickedMessage)">Delete message</div>
                                </div>
                            </div>
                        </div>

                        <!-- Main Content - BOTTOM -->
                        <div class="main-content-bottom">
                            <!-- Input Group -->
                            <div class="input-group">
                                <!-- Icon -->
                                <span class="icon">
                                    <i class="fa-regular fa-face-smile"></i>
                                </span>
                                
                                <!-- Input -->
                                <input 
                                    type="text" 
                                    placeholder="Scrivi un messaggio" 
                                    v-model="newMessage.text" 
                                    @keyup.enter="createNewMessage()"
                                >
                                
                                <!-- Icon -->
                                <span class="icon">
                                    <i class="fa-solid fa-microphone"></i>
                                </span>
                            </div>
                        </div>
                   </div>
                </main>
            </div>

        </div>

    </div>
    <!-------------------- End - Vue.js --------------------->


    <!-- Link - script.js -->
    <script src="js/script.js"></script>
</body>
</html>